In [1]:
import numpy as np
import pandas as pd

In [11]:
df = pd.DataFrame({
    '지역': ['서울', '경기', '부산','서울', '경기', '부산','서울', '경기', '부산','서울', '경기', '부산','서울', '경기'],
    '요일': ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일'],
    '강수량': [100, 80, 1000, 200, 200, 100, 50, 100, 200, 100, 50, 100, 200, 30],
    '강수확률': [80, 70, 90, 10, 20, 30, 50, 90, 20, 80, 50, 10, 20, 30]
                  })

df

    지역   요일   강수량  강수확률
0   서울  월요일   100    80
1   경기  화요일    80    70
2   부산  수요일  1000    90
3   서울  목요일   200    10
4   경기  금요일   200    20
5   부산  토요일   100    30
6   서울  일요일    50    50
7   경기  월요일   100    90
8   부산  화요일   200    20
9   서울  수요일   100    80
10  경기  목요일    50    50
11  부산  금요일   100    10
12  서울  토요일   200    20
13  경기  일요일    30    30

## pivot
* dataframe의 형태를 변경한다.
* 인덱스, 컬럼, 데이터로 사용할 컬럼을 명시한다.

* 데이터에 동일 date에 A값이 2개 이상 존재한다면 아래 오류가 발생한다.
    - 'ValueError: Index contains duplicate entries, cannot reshape'

In [12]:
df.pivot(index='지역', columns = '요일')

      강수량                                            강수확률                    \
요일    금요일    목요일     수요일    월요일   일요일    토요일    화요일   금요일   목요일   수요일   월요일
지역
경기  200.0   50.0     NaN  100.0  30.0    NaN   80.0  20.0  50.0   NaN  90.0
부산  100.0    NaN  1000.0    NaN   NaN  100.0  200.0  10.0   NaN  90.0   NaN
서울    NaN  200.0   100.0  100.0  50.0  200.0    NaN   NaN  10.0  80.0  80.0


요일   일요일   토요일   화요일
지역
경기  30.0   NaN  70.0
부산   NaN  30.0  20.0
서울  50.0  20.0   NaN

In [13]:
pd.pivot_table(df, index='요일', columns='지역', aggfunc=np.mean)

       강수량                 강수확률
지역      경기      부산     서울    경기    부산    서울
요일
금요일  200.0   100.0    NaN  20.0  10.0   NaN
목요일   50.0     NaN  200.0  50.0   NaN  10.0
수요일    NaN  1000.0  100.0   NaN  90.0  80.0
월요일  100.0     NaN  100.0  90.0   NaN  80.0
일요일   30.0     NaN   50.0  30.0   NaN  50.0
토요일    NaN   100.0  200.0   NaN  30.0  20.0
화요일   80.0   200.0    NaN  70.0  20.0   NaN